/* .container {
  min-width: 1220px;
  margin: 0 40px;
} */
/* .discover {
  display: flex;
  align-items: center;
}
.discover .charts,
.discover .album,
.discover .more {
  background-color: #404040;
  margin: 2px;
  padding: 15px;
  margin-right: 25px;
  text-align: center;
  cursor: pointer;
}
h2 {
  margin-bottom: 40px;
  letter-spacing: 2px;
}
.featurePageLeft-top {
  margin-bottom: 4rem;
}
.features img {
  margin-bottom: 10px;
}
.footer {
  background-color: #404040;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-body {
  justify-content: center;
} */
